<div style="margin: 2em;">


<h3>  About us</h3>
<p>
  
The Yellow Leaf is a digital platform disseminating news, analysis and commentary. It seeks to look at India from the perspective of the states with special focus on the south.

The advent of social media and influence of technology is changing the face of journalism, and we seek to embrace it by bringing together journalists, designers, engineers, data analysts and product managers in our newsroom and craft new ways of credible story-telling.</p><p>

Since we are living in an age of extreme view points we seek to bring back the much needed balance in news. We seek to analyse and probe in-depth issues which are relevant to a citizen but are often ignored.

We are a division of New Leaf Media Corporationthat has several print and media products. 

<b> The Yellow Leaf is its first English news venture </b>
</p>

</div>