

<div fxLayout="row" fxLayoutGap="2%" style="margin: 2em;">
    <mat-card fxFlex>
        <img mat-card-image class="imgcd" src="../../assets/images/priimg1.jpg">
        <mat-card-content>
            <p>Tourism in India takes a hit as people defer travel plans on Coronavirus fear</p> 
        </mat-card-content>
    </mat-card>
    <mat-card fxFlex>
        <img mat-card-image class="imgcd" src="../../assets/images/priimg2.jpg">
        <mat-card-content>
            <p>India’s paradox: Rapid tech strides but poor record on infectious diseases</p>
        </mat-card-content>
    </mat-card>
    <mat-card fxFlex>
        <img mat-card-image class="imgcd" src="../../assets/images/priimg3.jpg" >
        <mat-card-content>
            <p>How Dravidian parties have lost their hold over Puducherry</p>
        </mat-card-content>
    </mat-card>
    <mat-card fxFlex>
        <img mat-card-image class="imgcd" src="../../assets/images/priimg4.jpg" >
        <mat-card-content>
            <p>Forced to go incognito, face of Nandigram movement runs undercover poll campaign</p>
        </mat-card-content>
    </mat-card>
</div>