<mat-toolbar>
 
  <span>Yellow Leaf Media</span>
  <span class="example-spacer"></span>
  <button mat-button routerLink="/home" routerLinkActive="active-link">Home</button>
  <button mat-button routerLink="/gallery" routerLinkActive="active-link"
  *ngIf="isPrivateUser">Gallery</button>
  <button mat-button routerLink="/about" routerLinkActive="active-link">About Us</button>
  <button mat-button class='login-btn' *ngIf="!isPrivateUser" (click)="login()" style="margin-right: 5PX ;margin-left: 5px;">Login</button>
 
  <span *ngIf="isPrivateUser" style="font-size: 12px; padding-right: 5PX ;padding-left: 5px;">Welcome {{username | uppercase}} !</span>
  <mat-icon *ngIf="isPrivateUser" style="color: rgb(187, 93, 93);cursor: pointer;" (click)="logout()">power_settings_new</mat-icon>
 
</mat-toolbar>
<router-outlet></router-outlet>
<mat-toolbar class="footer">
 <div fxLayout="row" fxLayoutAlign="center center">
  <p fxFlex style="font-size: 12px;">© 2021 Copyright: www.yellowleafmedia.com</p>
 </div>
 
</mat-toolbar>

