
<div>
    <p style="text-align: center;margin: 2em;">Visit Yellow Leaf Media 24*7 for update news and information upto time.</p>
</div>
<div fxLayout="row" fxLayoutGap="2%" style="margin: 2em;">
    <mat-card fxFlex>
        <img mat-card-image class="imgcd" src="../../assets/images/pubimg1.jpg">
        <mat-card-content>
            <p>As Centre sells debt-ridden Air India, bidders to make hay of what is left</p> 
        </mat-card-content>
    </mat-card>
    <mat-card fxFlex>
        <img mat-card-image class="imgcd" src="../../assets/images/pubimg2.jpg">
        <mat-card-content>
            <p>CCI sets stage for showdown with WhatsApp over privacy policy update</p>
        </mat-card-content>
    </mat-card>
    <mat-card fxFlex>
        <img mat-card-image class="imgcd" src="../../assets/images/pubimg3.jpg" >
        <mat-card-content>
            <p>How Team India turned COVID odds, adversities into a mega victory</p>
        </mat-card-content>
    </mat-card>
    <mat-card fxFlex>
        <img mat-card-image class="imgcd" src="../../assets/images/pubimg4.jpg" >
        <mat-card-content>
            <p>4 injured as sword-wielding Sikhs attack policemen in Maharashtra</p>
        </mat-card-content>
    </mat-card>
</div>